pkgbase = archive-app
	pkgdesc = Menedżer Domowego Archiwum Dokumentów
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/KlapkiSzatana/archive-app
	arch = any
	license = GPL-3.0
	depends = python
	depends = pyside6
	source = archive-app.py
	source = logic.py
	source = archive.png
	sha256sums = 674d068afe50284b6aaabb3cc9d2c969ae3d1d32b90c8b48d3939b9ffc1f21b2
	sha256sums = 8cb43d3bc44e38bfbef26f0c1138d677ebdf855fbb2d46c1fe52a0dad1010c9e
	sha256sums = 77d73805e84952d5c07e6eccf27b22259ea4ed7688cf09805bb83bee8a885e64

pkgname = archive-app
