pkgbase = archive-app
	pkgdesc = Menedżer Domowego Archiwum Dokumentów
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/KlapkiSzatana/archive-app
	arch = any
	license = GPL-3.0
	depends = python
	depends = pyside6
	source = archive-app.py
	source = logic.py
	source = archive.png
	sha256sums = cf77aae7dba5edee666677cd3c7c05d1a0405d4621b3d4429dbeff4d5d4fbd11
	sha256sums = d2f3cdff6eb53f9aa20568b8c19d25a4ddec90c095e1a160bfd3453f3eb5297c
	sha256sums = 77d73805e84952d5c07e6eccf27b22259ea4ed7688cf09805bb83bee8a885e64

pkgname = archive-app
